APP_NAME=adminlte
APP_ENV=local       # local, testing, production
APP_KEY=base64:ikEDThnJE0sSt/JBHuKGPWw91ewH0xgeIY6WwyvxWbc=
APP_DEBUG=true
APP_URL=http://lte.c
ADMIN_URL=http://lte.c
API_URL=https://bhc1909dev.morningletters.kr
IMAGE_URL=https://bhc1909dev.morningletters.kr
LOGIN_URL=https://devlogin.jasongroup.co.kr

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=adminlte
DB_USERNAME=deploy
DB_PASSWORD=deploy@0503

DB_CONNECTION_MORNINGLETTERS=morningletters
DB_HOST_MORNINGLETTERS=192.168.0.174
DB_PORT_MORNINGLETTERS=3306
DB_DATABASE_MORNINGLETTERS=snsapp
DB_USERNAME_MORNINGLETTERS=snsapp
DB_PASSWORD_MORNINGLETTERS=answkdi1

BROADCAST_DRIVER=log
CACHE_DRIVER=null       # null  file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
